body {
  background-color: #E8FCCF;
  color: #134611;
  font-family: 'Manrope', sans-serif;
}

h1 {
  text-align: center;
  color: #134611;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.misc {
 width: 300px;
}

.score {
  width: 300px;
  text-align: end;
}

.timer {
  width: 300px;
  text-align: start;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.boggle-board {
  border: 2px solid #134611;
  border-radius: 5px;
  background-color: #96E072;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  margin: 30px;
}

td {
  height: 35px;
  width: 35px;
  border: 2px solid blue;
  border-radius: 5px;
  text-align: center;
  background-color: #E8FCCF;
}

td:hover {
  background-color: lightgray;
  transition: all .1s;
}

.boggle-input {
}

.misc {
  position: relative;
}

#restart-button {
  margin-top: 30px;
}