h1 {
  text-align: center;
  color: darkgray;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.misc {
 width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.boggle-board {
  border: 2px solid blue;
  border-radius: 5px;
  background-color: lightblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  margin: 30px;
}

td {
  color: transparent;
  height: 35px;
  width: 35px;
  border: 2px solid blue;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

td:hover {
  background-color: lightgray;
  transition: all .1s;
}

.boggle-input {
}

.misc {
  position: relative;
}