<!DOCTYPE html>
<html lang="en">
<head>
  <meta charse="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
  <title>Boggle Game</title>
  <h1>Boggle Game</h1>
  <div class="top-container">
    <div class='misc'></div>
    <div class='misc'></div>
    <div class='timer'>    
      <span id="timer">Timer: 0</span>
    </div>
    <div class='score'>

      <span id="score">Score: 0</span><span id="highscore"> (Best: 0)</span>
    </div>
    <div class='misc'></div>
    <div class='misc'></div>
  </div>
  <div class="container">

    {% block content %} {% endblock %}

    <div class='boggle-input'>
      <form action='/check-word'>
          <label for="word">Words</label>
          <input type="text" name="word" id="word" required />
          <button id="submit-button" disabled=true>Submit</button>
      </form>
    </div>
    <form action='/start'>
      <button id="restart-button" action='/'>Start Game</button>
      <div class="result">
    </form>
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/boggle.js"></script>
  <script src="/static/app.js"></script>
</head>
</html>

