<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/static/styles.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="grid">
    <div class="table">
      <h1>BOGGLE GAME</h1>
      <table id="board">
        {% for row in board %}
        <tr>
          {% for letter in row %}
          <td class='shake'>{{letter}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="stuff">
      <p id="current-score">Score: </p>
    </div>
    
    <div class="timer">
      <p id="timer">60</p>
      <button class='btn' id="restart-btn">Start Game</button>
    </div>
    
    <div class='forms'>
      <form action="" id="guess-form" method="POST">
        <input id="guess" required type="text" placeholder="" />
        <button class='btn' id="submit-btn" action="submit" disabled="true">Submit</button>
      </form> 
      <p id="current-guess"></p>
      <p id="guess-result"></p>
    </div>
    <div class="words">
      <p id="guess-list">Your words:</p>
    </div>
    <div class="score">
      <p>HIGHSCORE: {{highscore}}</p>
      <p>TIMES PLAYED: {{times_played}}</p>
    </div>
  </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src='static/game.js'></script>

</body>
</html>